<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple-Bank</title>
</head>
<body>

    <h2>Cadastro<h2>
    <form action="/finalizacadastro" method="POST">
        <input type="text" placeholder="Nome" name="name"><br>
        <input type="number" placeholder="Idade" name="age"><br>
        <input type="text" placeholder="Endereço" name="address"><br>
        <input type="text" placeholder="Conta" name="account"><br>
        <input type="number" step=0.01 placeholder="Saldo inicial" name="balance"><br>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form> 

</body>
</html>